<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Редактировать профиль</title>
</head>

<body>
    <h1>Редактировать профиль</h1>
    
    <form method="POST" action="/edit-profile/">
        {% csrf_token %}
        
        <label for="username">Имя:</label>
        <input type="text" id="username" name="username" value="{{ user.username }}" required><br>

        <hr>
        
        <button type="submit">Сохранить изменения</button>
    </form>

    <form action="{% url 'profile' %}" method="get">
        <button type="submit">Назад</button>
    </form>
</body>
</html>